/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


.pixels2x {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  .pixels1x {
    display: none;
  }

  .pixels2x {
    display: block;
  }
}

.icon {
  border-radius: 16px;
  position: relative;
  top: -5px;

  @media screen and (max-width: 400px) {
    margin-left: 40%;
  }
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

body.fullscreen {

  .container {
    @media screen and (min-width: 400px) {
      position: absolute;
    }
    height: 100%;
    width: 100%;
  }

}

@media screen and (min-width: 400px) {
  .vertically-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.left {
  float: left;
  width: 50%;

  .just-screen {
    display: none;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
    height: auto;

    .iphone6 {
      display: none;
    }

    .just-screen {
      display: block;
    }
  }

  .marvel-device.iphone6 {
    float: right;
    // @media screen and (max-height: 1000px) {
    -ms-transform: scale(1.0, 1.0); /* IE 9 */
    -webkit-transform: scale(1.0, 1.0); /* Chrome, Safari, Opera */
    transform: scale(1.0, 1.0);
    // }
    @media screen and (max-height: 950px) {
      -ms-transform: scale(0.9, 0.9); /* IE 9 */
      -webkit-transform: scale(0.9, 0.9); /* Chrome, Safari, Opera */
      transform: scale(0.9, 0.9);
    }
    @media screen and (max-height: 850px) {
      -ms-transform: scale(0.8, 0.8); /* IE 9 */
      -webkit-transform: scale(0.8, 0.8); /* Chrome, Safari, Opera */
      transform: scale(0.8, 0.8);
    }
    @media screen and (max-height: 750px) {
      -ms-transform: scale(0.7, 0.7); /* IE 9 */
      -webkit-transform: scale(0.7, 0.7); /* Chrome, Safari, Opera */
      transform: scale(0.7, 0.7);
    }
  }
  // margin-top: -25%;
  // -ms-transform: scale(1.0, 1.0); /* IE 9 */
  // -webkit-transform: scale(1.0, 1.0); /* Chrome, Safari, Opera */
  // transform: scale(1.0, 1.0);

  // @include media-query($on-laptop) {
  //   -ms-transform: scale(0.85, 0.85); /* IE 9 */
  //   -webkit-transform: scale(0.85, 0.85); /* Chrome, Safari, Opera */
  //   transform: scale(0.85, 0.85);
  // }
  //
  // @include media-query($on-tablet) {
  //   -ms-transform: scale(0.75, 0.75); /* IE 9 */
  //   -webkit-transform: scale(0.75, 0.75); /* Chrome, Safari, Opera */
  //   transform: scale(0.75, 0.75);
  // }
}

.right {
  float: left;
  width: 50%;
  @media screen and (max-width: 400px) {
    width: 100%;
    text-align: center;
    margin-top: 150px;
  }

  h1,
  h2,
  h3,
  p,
  a {
    margin-left: 30px;

    @media screen and (max-width: 500px) {
      margin-left: -20px;
    }
    @media screen and (max-width: 500px) {
      margin: 10px;
    }
  }

}

.footer {
  position: absolute;
  @media screen and (max-width: 400px) {
    padding-top: 50px;
    position: inherit;
    bottom: default;
  }
  font-size: medium;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
